#wrapper{font font-family: tahoma;}
.container_head{
	width:100%;
	margin-left: auto;
	margin-right: 10%;
}

*{ 
  font-family:tahoma;
}
/* .testheight Not required - unless testing ;) */
.testheight {
  height:1200px;
  font-size:20px;
  text-align:center;
  padding:100px 20px;
}
.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	background:#b2b2b2;
	background:rgba(178,178,178,0.7);
	padding:20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover {
	background:rgba(178,178,178,1.0);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	font-size:30px;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
#subheader{
	opacity: 0.6;
	width: 100%;
	position: fixed;
	z-index: 100;
	background: #003366;
	color: #003366;
	padding-right: 20PX;
	/*margin-top: -15px;*/
}
input{
	margin:10px auto;
}
.modal_content{
	padding: 20px;
}
#subheader p{
	float: left;
	margin-top: 7px;
}
#subheader a{
	float: right;
	line-height: 30px;
	color: #fff;
	text-decoration:none;
	margin-left: 10px; 
}
/*logo styling*/
#main-header{
	width: 100%;
	height: 100px;
	background:#D3D3D3;
	float: left;
	/*margin-top: -15px; */
}
#logo{
	width: 250px;
	margin-top: 10px;
	float: left;
}

.bord{
	padding: 10px;
	margin :5px;
	box-shadow: 5px 10px 10px #888888;
/*border: 2px solid #00ffee;*/
}

#ist{
	font-family: cursive;
	color: black;
	font-size: 45px;
	font-weight: bold;
	margin-left: 15px:
}
#iist{
	font-family: cursive;
	color: black;
	font-size: 35px;
	margin-left: 15px:
}
/*SEARCHING AREA*/
#search{
	width: 650px;
	float: left;
	padding: 20px;
	margin-left: 50px;
}
.search-area{
	width: 500px;
	height: 50px;
	background:#fff;
	border: none;
	border-radius: 10px;
	float: left; 
	padding-left: 15px;
}
.carous{
	position: relative;
}
.imgcar{
	height: 700px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.img_home_prod{
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}
.search-btn{
	width: 100px;
	height: 50px;
	border-radius: 10px;
	border: none;
	color: #fff;
	background:brown;
	margin-left: -100px; 
}
/*user-menu*/
#user-menu{
	float:right;
	padding-top: 20px;
}
/*list styling*/
	#user-menu li{
	float:left;
	width: 240px;
	text-align: center;
	list-style: none;
	font-size: 25px;
	border-left: 1px solid black;
}
#user-menu li:hover{
	font-size:30px;
	transition: all .5s ease;
}
#user-menu li a{
	color: white;
	text-decoration:none; 
}
.image_product{
	height: 500px;
	margin-left:auto; 
	margin-right:auto;
}







